body {
    font: 400 16px Lato, sans-serif;
    line-height: 1.8;
    color: #fff;
  }
  form{
    width: 70%;
  }
  h2 {
    font-size: 24px;
    text-transform: uppercase;
    color:#fff;
    font-weight: bold;
    margin-bottom: 30px;
  }
  h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #fff;
    font-weight: 400;
    margin-bottom: 30px;
    text-align: left;
  }  
  .jumbotron {
    background-color:#0E7C7B;
    color: #fff;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
  }
  h1{
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .btn{
    background-color: #17BEBB;
    color: white;
    border-radius: 25% 25% 25% 25% / 0% 25% 0% 25%;
padding:3%;
  }
  .btn:hover{
    color: #000000;
  }
  .btn-lg{
    background-color:#17bebb;
    border: none;
     border-radius: 25% 25% 25% 25% / 0% 25% 0% 25%;   
padding:3%;
  }
  .container-fluid {
    padding: 60px 50px;
    color: #000000;
  }
  .bg-grey {
    background-color: #0e7c7b;
    color: #fff;
  }
  .bi {
    color: #17BEBB;
    font-size: 50px;
  }
  .logo {
    color: #0E7C7B;
    font-size: 200px;
  }
  .thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
  }
  .thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }
  .carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #17BEBB;
  }
  .carousel-indicators li {
    border-color: #17BEBB;
  }
  .carousel-indicators li.active {
    background-color: #17BEBB;
  }
  .item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
  }
  .item span {
    font-style: normal;
  }
  .panel {
    border: 1px solid #0e7c7b; 
    border-radius:0 !important;
    transition: box-shadow 0.5s;
    height: 700px;
  }
  .panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
    border: 1px solid #0e7c7b;
    background-color: #fff !important;
    color: #0e7c7b;
  }
  .panel-heading {
    color: #fff !important;
    background-color: #0e7c7b !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .panel-footer {
    background-color: white !important;
  }
  .panel-footer h3 {
    font-size: 32px;
  }
  .panel-footer h4 {
    color: #aaa;
    font-size: 14px;
  }
  .panel-footer .btn {
    margin: 15px 0;
    background-color: #17BEBB;
    color: #fff;
  }
  .navbar {
    margin-bottom: 0;
    background-color: #17BEBB;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
    color: #fff !important;
    font-weight: bold;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #17BEBB !important;
    background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }
  iframe{
    width: 100%;
    height: 500px;
  }
  .icons img{
    width: 30px;
    margin-bottom: 20px;
  }
  .icons img:hover{
    background-color:#17BEBB;
    transform: rotateX('90');
  }
 .icon-bar{
  color: #0E7C7B;
 }
  footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color:#17BEBB ;
  }
  .slideanim {visibility:hidden;}
  .slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
  }
  section.col-sm-4{
    border: 2px solid #0E7C7B;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
      margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
      font-size: 150px;
    }
  }
  #loading{
    display: flex;
    align-items: center;
  }
  
  .bar {
    display: inline-block;
    width: 3px;
    height: 20px;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 10px;
    animation: scale-up4 1s linear infinite;
  }
  
  .bar:nth-child(2) {
    height: 35px;
    margin: 0 5px;
    animation-delay: .25s;
  }
  
  .bar:nth-child(3) {
    animation-delay: .5s;
  }
  
  @keyframes scale-up4 {
    20% {
      background-color: #ffff;
      transform: scaleY(1.5);
    }
  
    40% {
      transform: scaleY(1);
    }
  }